<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{THE_REQUEST} rest
    RewriteRule ^(.*)$ cf_rest_controller.php?q=$1 [QSA,L]
</IfModule>